<div class="title-label-font" style="position: relative;top: -20px;">
    Impresion de Archivos
</div>
<div class="form">
    <div class="form-content">
        <div class="form-row-printTitle">
            Destinos Locales
        </div>
        <hr />
        <div class="form-row-print">
            <span class="ico-pdf"></span><span class="ico-pdf-text" id="previewPDF">Preview PDF</span>
        </div>
        <div class="form-row-print">
            <span class="ico-pdf"></span><span class="ico-pdf-text" id="dowloandPDF">Descargar PDF</span>
        </div>
        <div class="form-row-print">
            <span class="ico-excel"></span><span class="ico-pdf-text" id="dowloandExcel">Descargar Excel</span>
        </div>
        
    </div>
</div>