<div class="title-label-font" style="position: relative;top: -20px;">
    Impresion de Archivos
</div>
<div class="form">
    <div class="form-content">
        <div class="form-row-printTitle">
            Destinos Locales
        </div>
        <hr />
        <blockquote>
            <div class="form-row-print">
                <span></span><span>Preview PDF</span>
            </div>
            <div class="form-row-print">
                <span></span><span>Descargar PDF</span>
            </div>
            <div class="form-row-print">
                <span></span><span>Descargar Excel</span>
            </div>
        </blockquote>
        
    </div>
</div>